.nnit-navigate {
    float:right; 
}

.nnit-navigate-info {
    display: inline-block;
    color: #7D7D7D;
    font-weight: bold;
    text-decoration: none;
    height: 70px;
    width:800px;
    margin-top: 20px;
    margin-right:0px;
    text-align:right;
}

.nnit-navigate-search {
    margin-right: 0px;
    text-align:right;
    height:50px;
}

.nnit-languagenav-on a {
    color: #585858;
    font-weight: bold;
    text-decoration: none;
}
.nnit-log{
    margin-top:-40px;
}
.nnit-footer1 {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #7D7D7D;
}
.nnit-footer_locations {
    padding-left: 20px;
}

.nnit-footer-copyright {
    color: #7D7D7D;
    margin-top: 20px;
    
}
.nnit-footer-partners { 
    padding-top:10px;
}
.nnit-footer-icon{
    padding-left:35px;
}
.nnit-footer-recordcode {
    color: #7D7D7D;
    display: inline-block;
    background-image: url(../img/footer/recordicon.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-left:0px;
    width:240px;
}

.nnit-menu-div {
    width: 1100px;
    height:600px;
    background-color: #F6F4EF;
    border: 1px solid black;
    border-color: black;
    margin-left:-20px;
    padding-top:20px;
}

.dropdown-menu{
    padding: 0px !important;
}
.nnit-dropdown-menu {
    width: 366px;
    height: 80px;
    background-color: #F6F4EF;
    font-size: 20px;
    float: left;
    text-align: center;
    
}
.nnit-footer-main {
    
    background-image: url(../img/footer/footer_background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 185px;  
    text-align: center;
    margin-top:40px;
}

.nnit-background{
    background-image:url(../img/background.png);
}
.nnit-menu{
    text-align:center;
    padding-right:600px!important;
}
.nnit-rightbar-block{
    margin-top:10px;
}

.nnit-rightbar-follow{
    height: 180px;
    background-image: url(../img/rightbar/makeyourmark_right2.png);
    background-repeat:no-repeat;
}

.nnit-rightbar-follow ul li {
    float:left;
    list-style-type:none;
    padding-left:10px;
    padding-top:40px;
}