.nnit-navigate {
    float:right;
    
}

.nnit-navigate-info {
    display: inline-block;
    color: #7D7D7D;
    font-weight: bold;
    text-decoration: none;
    height: 60px;
    margin-top: 20px;
    margin-right:0px;
}

.nnit-navigate-search {
    margin-right: 0px;
}